$primary: #071e3d;
$secondary: #eaa81b;
$grey: hsl(0, 0%, 27%);
$defaultFont: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// Header styling

.ca-routes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  //hack to space out routes since flexbox is not working somehow
  //Will come back later and fix you b.
  * {
    margin: 0 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

// Logo styling
.ca-logo {
  margin-right: auto;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  cursor: pointer;
  background: white;
  transition: 0.3s ease-in-out;
  &:hover {
    border: 2px solid $secondary;
    color: $secondary;
  }

  div {
    font-size: 20px;
  }
}

.link {
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  &:hover {
    border-bottom: 2px solid $primary;
  }
}

.link-inverse {
  padding-bottom: 8px;
  border-bottom: 2px solid $primary;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  display: inline-table;

  &:hover {
    border-bottom: 2px solid transparent;
  }
}

.active-link {
  border-bottom: 2px solid $primary;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid transparent;
  }
}
