@import "./global.scss";
@import "./prism.scss";
@import "./_variables";

$primary: #071e3d;
$secondary: #eaa81b;
$grey: hsl(0, 0%, 27%);
$defaultFont: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// Header styling

.footer {
  .ca-routes {
    width: 30%;
    justify-content: space-between;
    display: flex;
  }
}

// Logo styling

.link {
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  &:hover {
    border-bottom: 2px solid $primary;
  }
}

.link-inverse {
  padding-bottom: 8px;
  border-bottom: 2px solid $primary;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  display: inline-table;

  &:hover {
    border-bottom: 2px solid transparent;
  }
}

.active-link {
  border-bottom: 2px solid $primary;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid transparent;
  }
}
