body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #071e3d;
  background-color: #e6edf1;
  scroll-behavior: smooth; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.flex-wrap {
  display: flex; }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

ul li {
  list-style: none; }

.tag-image {
  width: 20px;
  height: 20px;
  margin-right: auto; }

.padding {
  padding: 40px 90px;
  width: 90vw;
  margin-right: auto;
  margin-left: auto; }

.padding-side {
  width: 85vw;
  margin-right: auto;
  margin-left: auto; }

.padding-top {
  padding-top: 40px; }

.padding-bottom {
  padding-bottom: 40px; }

a {
  text-decoration: none;
  color: #071e3d; }

* {
  font-family: "circular"; }

.circular {
  font-family: "circular"; }

.geo {
  font-family: "geo"; }

.outline {
  outline: 1px solid red; }

.owc {
  outline: 1px solid red; }
  .owc * {
    outline: 1px solid red; }

.flex {
  display: flex;
  flex-wrap: wrap; }

@media (max-width: 450px) {
  .tag {
    width: 100%;
    display: block !important; } }

.tags .tag {
  margin: 10px 20px; }
  @media (max-width: 450px) {
    .tags .tag {
      margin: 10px 0; } }

.article {
  background-color: white; }

.pointer {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  marign: 0; }

.grid-base,
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid-1 > * {
  width: 100%; }

.grid-2 > * {
  width: -webkit-calc(50% - 40px/2);
  width: calc(50% - 40px / 2); }

.grid-2 > *:nth-child(2n + 1) {
  margin-right: 40px;
  margin-top: 20px; }

@media only screen and (max-width: 1070px) {
  .block--related .grid-2 > * {
    width: 100%; }

  .block--related .grid-2 > *:nth-child(2n + 1) {
    margin-right: auto; } }
@media only screen and (max-width: 860px) {
  .grid-2 > * {
    width: 100%; }

  .grid-2 > *:nth-child(2n + 1) {
    margin-right: auto; } }
.grid-3 > * {
  width: -webkit-calc(33.33% - 2 * 40px/3);
  width: calc(33.33% - 2 * 40px / 3);
  margin: 20px 0; }

.grid-3 > *:nth-child(3n + 2) {
  margin-left: 40px;
  margin-right: 40px; }

@media only screen and (max-width: 1420px) {
  .grid-3 > * {
    width: -webkit-calc(50% - 40px/2);
    width: calc(50% - 40px / 2); }

  .grid-3 > *:nth-child(3n + 2) {
    margin-left: auto;
    margin-right: auto; }

  .grid-3 > *:nth-child(2n + 1) {
    margin-right: 40px; } }
@media only screen and (max-width: 740px) {
  .grid-3 > * {
    width: 100%; }

  .grid-3 > *:nth-child(2n + 1) {
    margin-right: auto; } }
.grid-4 > * {
  width: -webkit-calc(25% - 3 * 40px/4);
  width: calc(25% - 3 * 40px / 4); }

.grid-4 > *:nth-child(4n + 1),
.grid-4 > *:nth-child(4n + 2),
.grid-4 > *:nth-child(4n + 3) {
  margin-right: 40px; }

@media only screen and (max-width: 1120px) {
  .grid-4 > * {
    width: -webkit-calc(50% - 40px/2);
    width: calc(50% - 40px / 2); }

  .grid-4 > *:nth-child(4n + 1),
  .grid-4 > *:nth-child(4n + 2),
  .grid-4 > *:nth-child(4n + 3) {
    margin-right: 0; }

  .grid-4 > *:nth-child(2n + 1) {
    margin-right: 40px; } }
@media only screen and (max-width: 460px) {
  .grid-4 > * {
    width: 100%; }

  .grid-4 > *:nth-child(2n + 1) {
    margin-right: 0; } }
.grid-5 > * {
  width: -webkit-calc(20% - 4 * 40px/5);
  width: calc(20% - 4 * 40px / 5); }

.grid-5 > *:nth-child(5n + 2),
.grid-5 > *:nth-child(5n + 4) {
  margin-left: 40px;
  margin-right: 40px; }

@media only screen and (max-width: 980px) {
  .grid-5 > * {
    width: -webkit-calc(25% - 3 * 40px/4);
    width: calc(25% - 3 * 40px / 4); }

  .grid-5 > *:nth-child(5n + 2),
  .grid-5 > *:nth-child(5n + 4) {
    margin-left: 0;
    margin-right: 0; }

  .grid-5 > *:nth-child(4n + 1),
  .grid-5 > *:nth-child(4n + 2),
  .grid-5 > *:nth-child(4n + 3) {
    margin-right: 40px; } }
@media only screen and (max-width: 760px) {
  .grid-5 > * {
    width: -webkit-calc(33.33% - 2 * 40px/3);
    width: calc(33.33% - 2 * 40px / 3); }

  .grid-5 > *:nth-child(4n + 1),
  .grid-5 > *:nth-child(4n + 2),
  .grid-5 > *:nth-child(4n + 3) {
    margin-right: 0; }

  .grid-5 > *:nth-child(3n + 2) {
    margin-left: 40px;
    margin-right: 40px; } }
@media only screen and (max-width: 540px) {
  .grid-5 > * {
    width: -webkit-calc(50% - 40px/2);
    width: calc(50% - 40px / 2); }

  .grid-5 > *:nth-child(3n + 2) {
    margin-left: 0;
    margin-right: 0; }

  .grid-5 > *:nth-child(2n + 1) {
    margin-right: 40px; } }
.grid-6 > * {
  width: -webkit-calc(16.66% - 5 * 40px/6);
  width: calc(16.66% - 5 * 40px / 6); }

.grid-6 > *:nth-child(6n + 1),
.grid-6 > *:nth-child(6n + 2),
.grid-6 > *:nth-child(6n + 3),
.grid-6 > *:nth-child(6n + 4),
.grid-6 > *:nth-child(6n + 5) {
  margin-right: 40px; }

.dark {
  background: black; }
  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4,
  .dark h5,
  .dark h6,
  .dark p,
  .dark a,
  .dark ul,
  .dark li {
    color: white !important; }
  .dark .white {
    color: white; }
  .dark .icon {
    fill: white !important; }
  .dark .article {
    background-color: #201c29;
    box-shadow: 0 0 2rem #000;
    border-radius: 8px; }
    .dark .article * {
      color: white !important; }
  .dark .link:hover {
    border-bottom: 2px solid white; }

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+bash+jsx+typescript+tsx */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  font-size: 18px;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre {
  min-width: inherit;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 50px 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #0f111a; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal; }

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
  outline: 1px solid green; }

.token.punctuation {
  color: #ccc;
  padding: 3px; }

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: pink; }

.token.function-name {
  color: white; }

.token,
.token.number,
.token {
  color: #82aaff; }

.boolean {
  color: #f78c6c; }

.function {
  color: #82aaff; }

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #82aaff; }

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #c792ea; }

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #82aaff; }

.token.operator,
.token.entity,
.token.url {
  color: #b2ccd6; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.token.inserted {
  color: green; }

.footer .ca-routes {
  width: 30%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  @media (max-width: 450px) {
    .footer .ca-routes {
      width: 100%;
      padding: 30px 0 20px 0; }
      .footer .ca-routes * {
        margin: 5px; } }

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .navbar .ca-routes {
    width: 100%; }
  .navbar * {
    margin: 0; }

.link {
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer; }
  .link:hover {
    border-bottom: 2px solid #071e3d; }

.active-link {
  border-bottom: 2px solid #071e3d;
  cursor: pointer; }
  .active-link:hover {
    border-bottom: 2px solid transparent; }

/*# sourceMappingURL=bundle.css.map */
