body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.flex-wrap {
  display: flex; }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

ul li {
  list-style: none; }

.tag-image {
  width: 20px;
  height: 20px;
  margin-right: auto; }

.padding {
  padding: 40px 90px;
  width: 90vw;
  margin-right: auto;
  margin-left: auto; }

.padding-side {
  width: 85vw;
  margin-right: auto;
  margin-left: auto; }

.padding-top {
  padding-top: 40px; }

.padding-bottom {
  padding-bottom: 40px; }

a {
  text-decoration: none;
  color: #071e3d; }

* {
  font-family: "circular"; }

.circular {
  font-family: "circular"; }

.geo {
  font-family: "geo"; }

.outline {
  outline: 1px solid red; }

.owc {
  outline: 1px solid red; }
  .owc * {
    outline: 1px solid red; }

.flex {
  display: flex;
  flex-wrap: wrap; }

@media (max-width: 450px) {
  .tag {
    width: 100%;
    display: block !important; } }

.tags .tag {
  margin: 10px 20px; }
  @media (max-width: 450px) {
    .tags .tag {
      margin: 10px 0; } }

.article {
  background-color: white; }

.pointer {
  cursor: pointer; }

.main p {
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 1rem;
  color: rgba(5, 6, 10, 0.8);
  line-height: 35px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  marign: 0; }

.grid-base,
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid-1 > * {
  width: 100%; }

.grid-2 > * {
  width: -webkit-calc(50% - 40px/2);
  width: calc(50% - 40px / 2); }

.grid-2 > *:nth-child(2n + 1) {
  margin-right: 40px;
  margin-top: 20px; }

@media only screen and (max-width: 1070px) {
  .block--related .grid-2 > * {
    width: 100%; }

  .block--related .grid-2 > *:nth-child(2n + 1) {
    margin-right: auto; } }
@media only screen and (max-width: 860px) {
  .grid-2 > * {
    width: 100%; }

  .grid-2 > *:nth-child(2n + 1) {
    margin-right: auto; } }
.grid-3 > * {
  width: -webkit-calc(33.33% - 2 * 40px/3);
  width: calc(33.33% - 2 * 40px / 3);
  margin: 20px 0; }

.grid-3 > *:nth-child(3n + 2) {
  margin-left: 40px;
  margin-right: 40px; }

@media only screen and (max-width: 1420px) {
  .grid-3 > * {
    width: -webkit-calc(50% - 40px/2);
    width: calc(50% - 40px / 2); }

  .grid-3 > *:nth-child(3n + 2) {
    margin-left: auto;
    margin-right: auto; }

  .grid-3 > *:nth-child(2n + 1) {
    margin-right: 40px; } }
@media only screen and (max-width: 740px) {
  .grid-3 > * {
    width: 100%; }

  .grid-3 > *:nth-child(2n + 1) {
    margin-right: auto; } }
.grid-4 > * {
  width: -webkit-calc(25% - 3 * 40px/4);
  width: calc(25% - 3 * 40px / 4); }

.grid-4 > *:nth-child(4n + 1),
.grid-4 > *:nth-child(4n + 2),
.grid-4 > *:nth-child(4n + 3) {
  margin-right: 40px; }

@media only screen and (max-width: 1120px) {
  .grid-4 > * {
    width: -webkit-calc(50% - 40px/2);
    width: calc(50% - 40px / 2); }

  .grid-4 > *:nth-child(4n + 1),
  .grid-4 > *:nth-child(4n + 2),
  .grid-4 > *:nth-child(4n + 3) {
    margin-right: 0; }

  .grid-4 > *:nth-child(2n + 1) {
    margin-right: 40px; } }
@media only screen and (max-width: 460px) {
  .grid-4 > * {
    width: 100%; }

  .grid-4 > *:nth-child(2n + 1) {
    margin-right: 0; } }
.grid-5 > * {
  width: -webkit-calc(20% - 4 * 40px/5);
  width: calc(20% - 4 * 40px / 5); }

.grid-5 > *:nth-child(5n + 2),
.grid-5 > *:nth-child(5n + 4) {
  margin-left: 40px;
  margin-right: 40px; }

@media only screen and (max-width: 980px) {
  .grid-5 > * {
    width: -webkit-calc(25% - 3 * 40px/4);
    width: calc(25% - 3 * 40px / 4); }

  .grid-5 > *:nth-child(5n + 2),
  .grid-5 > *:nth-child(5n + 4) {
    margin-left: 0;
    margin-right: 0; }

  .grid-5 > *:nth-child(4n + 1),
  .grid-5 > *:nth-child(4n + 2),
  .grid-5 > *:nth-child(4n + 3) {
    margin-right: 40px; } }
@media only screen and (max-width: 760px) {
  .grid-5 > * {
    width: -webkit-calc(33.33% - 2 * 40px/3);
    width: calc(33.33% - 2 * 40px / 3); }

  .grid-5 > *:nth-child(4n + 1),
  .grid-5 > *:nth-child(4n + 2),
  .grid-5 > *:nth-child(4n + 3) {
    margin-right: 0; }

  .grid-5 > *:nth-child(3n + 2) {
    margin-left: 40px;
    margin-right: 40px; } }
@media only screen and (max-width: 540px) {
  .grid-5 > * {
    width: -webkit-calc(50% - 40px/2);
    width: calc(50% - 40px / 2); }

  .grid-5 > *:nth-child(3n + 2) {
    margin-left: 0;
    margin-right: 0; }

  .grid-5 > *:nth-child(2n + 1) {
    margin-right: 40px; } }
.grid-6 > * {
  width: -webkit-calc(16.66% - 5 * 40px/6);
  width: calc(16.66% - 5 * 40px / 6); }

.grid-6 > *:nth-child(6n + 1),
.grid-6 > *:nth-child(6n + 2),
.grid-6 > *:nth-child(6n + 3),
.grid-6 > *:nth-child(6n + 4),
.grid-6 > *:nth-child(6n + 5) {
  margin-right: 40px; }

.dark {
  background: black; }
  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4,
  .dark h5,
  .dark h6,
  .dark p,
  .dark a,
  .dark ul,
  .dark li {
    color: white !important; }
  .dark .white {
    color: white; }
  .dark .icon {
    fill: white !important; }
  .dark .article {
    background-color: #201c29;
    box-shadow: 0 0 2rem #000;
    border-radius: 8px; }
    .dark .article * {
      color: white !important; }
  .dark .link:hover {
    border-bottom: 2px solid white; }

.light {
  color: #071e3d;
  background-color: #e6edf1; }

pre {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 20px 68px; }

pre.ft-syntax-highlight {
  display: block;
  position: relative;
  padding: 30px !important;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: lightgrey;
  background-color: #0f111a; }

pre.ft-syntax-highlight::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-indent: 25px;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 0.8px;
  content: attr(data-syntax);
  direction: rtl; }

pre.ft-syntax-highlight code {
  counter-reset: line -1;
  font-family: Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
  display: block;
  margin: -25px 0 -28px;
  padding: 0 10px 10px 0;
  max-height: 400px;
  overflow: auto; }

pre.ft-syntax-highlight code span.newline::before {
  position: relative;
  right: 20px;
  color: lightgrey;
  counter-increment: line;
  content: counter(line);
  font-weight: 200; }

pre.ft-syntax-highlight code span.newline:nth-of-type(1n + 11)::before {
  position: relative;
  right: 28px; }

pre.ft-syntax-highlight code span.newline:nth-of-type(1n + 101)::before {
  position: relative;
  right: 36px; }

@media all and (max-width: 550px) {
  pre.ft-syntax-highlight {
    /*this ensures a minimum font size of 9px is maintained
    when viewport is less than 550px
    calculating against vw gives it a responsive feel*/
    font-size: calc(9px + 0.8vw); } }
@media all and (max-width: 225px) {
  pre.ft-syntax-highlight[data-ui-theme="macosx" i]::before {
    text-align: left;
    text-indent: 55%; }

  pre.ft-syntax-highlight[data-ui-theme="win95" i]::after {
    display: none; } }
/* scrollbar customizations (not applicable to all browsers) */
pre.ft-syntax-highlight code::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); }

pre.ft-syntax-highlight code::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4); }

pre.ft-syntax-highlight code::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.5); }

pre.ft-syntax-highlight code::-webkit-scrollbar-corner {
  display: none; }

pre.ft-syntax-highlight[data-ui-theme="bootstrap4"]
code::-webkit-scrollbar-thumb,
pre.ft-syntax-highlight[data-ui-theme="burberry"] code::-webkit-scrollbar-thumb,
pre.ft-syntax-highlight[data-ui-theme="light"] code::-webkit-scrollbar-thumb,
pre.ft-syntax-highlight[data-ui-theme="simple"] code::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4); }

pre.ft-syntax-highlight[data-ui-theme="bootstrap4"] code::-webkit-scrollbar,
pre.ft-syntax-highlight[data-ui-theme="burberry"] code::-webkit-scrollbar,
pre.ft-syntax-highlight[data-ui-theme="light"] code::-webkit-scrollbar,
pre.ft-syntax-highlight[data-ui-theme="simple"] code::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.4); }

/*    => syntax theme: one-dark*/
pre.ft-syntax-highlight[data-syntax-theme="one-dark" i] code span.boolean,
pre.ft-syntax-highlight[data-syntax-theme="one-dark" i]
code
span.identifier-constant,
pre.ft-syntax-highlight[data-syntax-theme="one-dark" i]
code
span.identifier-enum,
pre.ft-syntax-highlight[data-syntax-theme="one-dark" i]
code
span.identifier-structure,
pre.ft-syntax-highlight[data-syntax-theme="one-dark" i] code span.null,
pre.ft-syntax-highlight[data-syntax-theme="one-dark" i] code span.unit {
  color: goldenrod; }

pre.ft-syntax-highlight[data-syntax-theme="one-dark" i] code span.identifier,
pre.ft-syntax-highlight[data-syntax-theme="one-dark" i]
code
span.identifier-function,
pre.ft-syntax-highlight[data-syntax-theme="one-dark" i]
code
span.identifier-udf {
  color: #3b94d9; }

pre.ft-syntax-highlight[data-syntax-theme="one-dark" i]
code
span.identifier-class,
pre.ft-syntax-highlight[data-syntax-theme="one-dark" i]
code
span.identifier-sub {
  color: #f8da7b; }

pre.ft-syntax-highlight[data-syntax-theme="one-dark" i]
code
span.identifier-native {
  color: lightseagreen; }

pre.ft-syntax-highlight[data-syntax-theme="one-dark" i] code span.object,
pre.ft-syntax-highlight[data-syntax-theme="one-dark" i] code span.property {
  color: tomato; }

pre.ft-syntax-highlight[data-syntax-theme="one-dark" i] code span.keyword,
pre.ft-syntax-highlight[data-syntax-theme="one-dark" i]
code
span.identifier-namespace {
  color: #d979c4; }

pre.ft-syntax-highlight[data-syntax-theme="one-dark" i] code span.operand,
pre.ft-syntax-highlight[data-syntax-theme="one-dark" i] code span.url {
  color: MediumTurquoise; }

pre.ft-syntax-highlight[data-syntax-theme="one-dark" i] code span.typecast {
  color: violet; }

pre.ft-syntax-highlight[data-syntax-theme="one-dark" i] code span.variable {
  color: inherit; }

/*    => syntax theme: one-light */
pre.ft-syntax-highlight[data-syntax-theme="one-light" i] code span.boolean,
pre.ft-syntax-highlight[data-syntax-theme="one-light" i]
code
span.identifier-constant,
pre.ft-syntax-highlight[data-syntax-theme="one-light" i]
code
span.identifier-enum,
pre.ft-syntax-highlight[data-syntax-theme="one-light" i]
code
span.identifier-structure,
pre.ft-syntax-highlight[data-syntax-theme="one-light" i] code span.null,
pre.ft-syntax-highlight[data-syntax-theme="one-light" i] code span.unit {
  color: orange; }

pre.ft-syntax-highlight[data-syntax-theme="one-light" i] code span.identifier,
pre.ft-syntax-highlight[data-syntax-theme="one-light" i]
code
span.identifier-function,
pre.ft-syntax-highlight[data-syntax-theme="one-light" i]
code
span.identifier-udf {
  color: #16c07b; }

pre.ft-syntax-highlight[data-syntax-theme="one-light" i]
code
span.identifier-class,
pre.ft-syntax-highlight[data-syntax-theme="one-light" i]
code
span.identifier-sub {
  color: slateblue; }

pre.ft-syntax-highlight[data-syntax-theme="one-light" i]
code
span.identifier-native,
pre.ft-syntax-highlight[data-syntax-theme="one-light" i] code span.url {
  color: #6bbcff; }

pre.ft-syntax-highlight[data-syntax-theme="one-light" i] code span.object,
pre.ft-syntax-highlight[data-syntax-theme="one-light" i] code span.property {
  color: tan; }

pre.ft-syntax-highlight[data-syntax-theme="one-light" i] code span.keyword,
pre.ft-syntax-highlight[data-syntax-theme="one-light" i]
code
span.identifier-namespace {
  color: #de6f5b; }

pre.ft-syntax-highlight[data-syntax-theme="one-light" i] code span.operand {
  color: MediumTurquoise; }

pre.ft-syntax-highlight[data-syntax-theme="one-light" i] code span.typecast {
  color: violet; }

pre.ft-syntax-highlight[data-syntax-theme="one-light" i] code span.variable {
  color: inherit; }

.footer .ca-routes {
  width: 30%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  @media (max-width: 450px) {
    .footer .ca-routes {
      width: 100%;
      padding: 30px 0 20px 0; }
      .footer .ca-routes * {
        margin: 5px; } }

.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .navbar .ca-routes {
    width: 100%; }
  .navbar * {
    margin: 0; }

.link {
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer; }
  .link:hover {
    border-bottom: 2px solid #071e3d; }

.active-link {
  border-bottom: 2px solid #071e3d;
  cursor: pointer; }
  .active-link:hover {
    border-bottom: 2px solid transparent; }

/*# sourceMappingURL=bundle.css.map */
